main{
    margin: auto;
    max-width: 1080px;

    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.103);

    display: grid;
    grid-template-columns: 1fr 2fr;
}

section{
    padding-top: 10rem;
    padding-left: 2rem;
    padding-bottom: 2rem;



    h1,p{
        padding-bottom: 1.5rem;
    }
    h2{
        font-size: 1.2rem;
        padding-bottom: 1rem;
    }
    
    li:last-child {
        padding-bottom: 1.5rem;
    }


    h1::after{
        content: "";
        margin-top: 0.3rem;
        display: block;
        height: 0.5rem;
        width: 100px;
        border-bottom-right-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        background-color: var(--blue-500);


    }

    li{
        list-style-type: none;
        padding-bottom: 0.5rem;

        transition: .2s color;
        
    }

}
.link{
    transition: color 0.2s;

    &:hover{
        color: var(--blue-500);
       }
}

.contatos{
    li:hover{
        color: var(--blue-500);
       }
}

.colum-1{
    grid-column: 1;
    background-color: var(--background-100);
}
.colum-2{
    grid-column: 2;  
    background-color: var(--background-500);
}
@media (max-width: 720px){
    main{
        grid-template-columns: 1fr;
    }
    .colum-1{
   margin: auto;
    }

    .colum-2{
        grid-column: 1;
        margin: auto;  
    }
}




