span{
    display: block;
    margin: 0.5rem 0;
}

.barraNivel{
height: 1rem;
background-color: var(--background-500);
border-radius: 0.5rem;
}
.MarcadorNivel{
    height: 1rem;
    background-color: var(--blue-500);
    border-radius: 0.5rem;  
}